<mat-form-field>
  <mat-label>Buscar...</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Eduardo" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre(s)</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- LastName Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Apellidos</th>
    <td mat-cell *matCellDef="let persona">{{persona.lastName}}</td>
  </ng-container>

  <!-- CellPhone Column -->
  <ng-container matColumnDef="cellPhone">
    <th mat-header-cell *matHeaderCellDef>Celular</th>
    <td mat-cell *matCellDef="let persona">{{persona.cellPhone}}</td>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Dirección</th>
    <td mat-cell *matCellDef="let persona">{{persona.address}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let persona">
      <button mat-raised-button color="primary"  [routerLink]="['/editar', persona.id]" routerLinkActive="router-link-active" ><mat-icon>edit</mat-icon>Editar</button>
    </td>
  </ng-container>
</table>

