<!-- <div class="d-flex"> -->

  <!-- Form -->
  <!-- <form-form-page></form-form-page> -->

  <!-- Table -->
  <!-- <table-home-pages class="flex-fill"></table-home-pages> -->

<!-- </div> -->

<mat-toolbar color="primary">

  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="row p-3">

  <mat-sidenav #sidenav mode="side" opened class="col-4">
    <!-- Form -->
    <agenda-form-page></agenda-form-page>

  </mat-sidenav>

  <mat-sidenav-content class=" pt-2">
    <!-- Table -->
    <agenda-table-page></agenda-table-page>

  </mat-sidenav-content>

</mat-sidenav-container>
